<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="text-center">

      <h2 class="display-4">Forget Busy Work,</br > Start Next Vacation.</h2>
      <p class = "statement">We provide what you need to enjoy your <br/> vacation with family. Time to make another<br/> memorable moment.</a>.</p>
      <button class = "btn-show">Show Me Now</button>
      <br/>
      
      <div class = "icons">
           <div><i class='bx bx-spray-can'></i><br /><p class ="icontext">80,490 travelers</p></div>
           <div><i class='bx bx-camera'></i><br /><p class="icontext">862 treasure</p></div>
           <div><i class='bx bx-map'></i><br /><p class="icontext">1,492 cities</p></div>
      </div>
     


    </div>
            <div class="image"><img src="~/images/first.jpg"/></div>
                  
 </div>

 <div>
     <h6 class="display-5">Most Picked</h6>
     <div class = "batch-two">

            <div class="dis"><img src="~/images/second.jpg"/></div> 
            <div class="dis"><img src="~/images/third.jpg"/></div>
            <div class="dis"><img src="~/images/fourth.jpg"/></div>
            <div class="dis"></div>
             <div class="dis"><img src="~/images/fifth.jpg"/></div>
            <div class="dis"><img src="~/images/sixth.jpg"/></div>
            <div class="dis"></div>
     </div>
 </div>

      <h6 class="display-6">Houses With Beautiful Backyard</h6>
     <div class = "batch-three">
            <div class="flex"><img src="~/images/seventh.jpg"/><br /><p class="flex2">Tabby Town<br/>Gunung Batu, Indonesia</p></div>
            <div class = "flex"><img src="~/images/Eight.jpg"/><br /><p class="flex2">Anggana<br />Bogor, Indonesia</p></div>
            <div class = "flex"><img src="~/images/ninth.jpg"/><br /><p class="flex2">Seattle Rain<br />Jakarta, Indonesia</p></div>
            <div class = "flex"><img src="~/images/tenth.jpg"/><br /><p class="flex2">Wooden Pit<br />Wonosobo, Indonesia</p></div>
           
     </div>

             <h6 class="display-7">Hotels With Large Living Rooms</h6>
     <div class = "batch-four">
            <div class = "flex"><img src="~/images/Eleventh.jpg"/><br /><p class="flex2">Green Park<br/>Tangerang, Indonesia</p></div>
            <div class = "flex"><img src="~/images/Twelveth.jpg"/><br /><p class="flex2">Podo Wae<br />Madiun, Indonesia</p></div>
            <div class = "flex"><img src="~/images/Thirtheenth.jpg"/><br /><p class="flex2">Silver Rain<br />Bandung, Indonesia</p></div>
            <div class = "flex"><img src="~/images/Fourteenth.jpg"/><br /><p class="flex2">Cashville<br />Kemang, Indonesia</p></div>

     </div>

     <h6 class="display-8">Apartment With Kitchen Set</h6>
     <div class = "batch-five">
            <div class = "flex"><img src="~/images/Fifteenth.jpg"/><br /><p class="flex2">PS Wood<br/>Depok, Indonesia</p></div>
            <div class = "flex"><img src="~/images/Sixteenth.jpg"/><br /><p class="flex2">One Five<br />Jakarta, Indonesia</p></div>
            <div class = "flex"><img src="~/images/Seventeenth.jpg"/><br /><p class="flex2">Minimal<br />Bogor, Indonesia</p></div>
            <div class = "flex"><img src="~/images/Eighteenth.jpg"/><br /><p class="flex2">Stays Home<br />Wonosobo, Indonesia</p></div>

     </div>

    <div class = "sub-main">
         <div class="buttom-image"><img src="~/images/Ninenteenth.jpg"/></div>

         <div class = "flex-5">
             <p class="family">Happy Family</p>
             <br />
             <i class='bx bx-star iconx'></i>
             <i class='bx bx-star iconx'></i>
             <i class='bx bx-star iconx'></i>
             <i class='bx bx-star iconx'></i>
             <i class='bx bx-star iconx'></i><br />
             <p class="family-2">What a great trip with my family<br />I should try again next time soon...</p>
             <p class="family-3">Angga, Product Designer</p>

             <button class = "btn-show">Read Their Story</button>
          </div>
    </div>  

    <div class = "buttom-page">
        <div class="top-1">
            <p class= "Top">Staycation.</p>
            <p>We kaboom your beauty</p>
            <p>instantly and memorable.</p>
        </div>

        <div class="topx">
            <p class="top-2">For Beginners</p>
            <p>New Account</p>
            <p>Start Booking a Room</p>
            <p>Use Payment.</p>

        </div>

         <div class = "topx">
            <p class="top-2">Explor Us</p>
            <p>Our Careers</p>
            <p>Privacy</p>
            <p>Terms & Conditions</p>
        </div>

         <div class = "topx">
            <p class = "top-2">Connect Us</p>
            <p>Support@staycation.id</p>
            <p>021-2208-1996</p>
            <p>Staycation, Kemang, Jakarta</p>
        </div>

    </div>
    
    <div class="foot">
        <p>Copyright 2019. All right reserved. Staycation</p>
    </div>

